.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 284px;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 2px 102px 0 928px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: -8px 0 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 250px;
  margin: -72px 21px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -157px 346px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 81px;
    margin-left: 749px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -7px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -71px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -159px;
    margin-right: 310px;
    margin-bottom: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 69px;
    margin-right: 76px;
    margin-left: 526px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -75px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -224px;
    margin-right: 346px;
    margin-bottom: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 139px;
    margin-right: 83px;
    margin-left: 347px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -153px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -307px;
    margin-right: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 153px;
    margin-right: 102px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -167px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 812px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 14px;
  }
}